* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(1, 1, 223, 0.849);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

/* .calculator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.calculator-content {
    padding: 1rem 1.5rem;
    border: 2px solid #000;
    border-radius: 7px;
    width: 360px;
    height: 98%;
}

.calc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.calc-header h2 {
    font-size: 24px;
    font-weight: bolder;
    color: #fff;
}

.theme-container h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.calc-input-content {
    margin: 1rem 0;
}

.calc-input-content input {
    width: 100%;
    border-radius: 7px;
    outline: none;
    height: 5rem;
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 0 1rem;
    text-align: right;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.637);
}

.calc-keys-container {
    margin: 2rem 0;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 1rem;
    border-radius: 7px;
}

.calc-keys-container input {
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.8);
}

.calc-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.calc-keys input {
    padding-block: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.calc-keys input[value="DEL"] {
    font-size: 16px;
    font-weight: 900;
    background-color: rgba(0, 255, 255, 0.705);
}

.reset-compute {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.reset-compute input {
    padding-block: 10px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.reset-compute input[value="Reset"] {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    background-color: rgba(0, 255, 255, 0.705);
}

.reset-compute input[value="="] {
    background-color: rgba(255, 0, 0, 0.507);
}

.attribution {
     font-size: 11px; 
     text-align: center; 
}

.attribution a { 
    color: #fff; 
}